img [id ^="picture"] {
	border: 1px solid black;
}

.listitem {
	background-color: #999999;
	border-bottom: 1px solid black;
	color: white;
}

.listitem_sel {
	background-color: graytext;
	color: white;
}

#list_container { /*overflow-y: scroll;
	height: 900px;*/
}

.list-group {
	max-height: 80%;
	overflow: hidden;
	overflow-y: auto;
}

#details_container {
	padding-left: 20px;
}

#category_details_container {
	padding-left: 20px;
	padding-right: 20px;
}
.btn {
	width: 120px;
	margin: 10px;
}

.input-group-addon {
	margin: 10px;
}

#details_picture {
	margin: 0 auto;
}

#details_logo {
	margin-right: 10px;
}

#shop_name_cont {
	padding-right: 10px;
	margin-right: 10px;
}

#action_delete {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-left: -5px;
}

#details_edit_logo_label {
	margin-bottom: 10px;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	scrollbar-3dlight-color: gold;
	scrollbar-arrow-color: blue;
	scrollbar-base-color: ;
	scrollbar-darkshadow-color: blue;
	scrollbar-face-color: ;
	scrollbar-highlight-color: ;
}

#find_shops_auto {
	margin-bottom: 10px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-top: 70px;
	padding-bottom: 100px; /* Height of the footer element */
}

#main_container {
	margin-left: 50px;
	margin-right: 50px;
}

#footer {
	background: black;
	width: 100%;
	color: #cccccc;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
}

#footer_content {
	width: 20%;
	margin: 0 auto;
}

#cat_name {
	margin-bottom: 10px;
}

#add_new_floor {
	margin-top: 10px;
	width: 250px;
}

#floor_area {
	padding-right: 20px;
}

#vertex_input {
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-primary {
	margin-top: 0;
	width: 200px;
}

ul {
	padding-left: 10px;
	padding-right: 10px;
}

.btn-default {
	margin-top: 0px;
}

.navbar-form {
	margin: 0px;
	padding: 0px;
}